body{
    /* background-color: rgba(28, 78, 124, 0.603) */
    /* background-color: #E8D7FF; */
    opacity: 0.9;
    background-color: #0E0B16;
}

#logo{
    margin: 40px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    text-shadow: 1px 1px 20px black, 0 0 25px blue, 0 0 15px navy;
    color: white;
}

#whiteBoardContainer{
    /* background-color: #4717F6; */
    margin: 80px 300px;
    /* padding: 60px 40px; */
}
.card{
    padding: 30px;
    border: 4px solid #A239CA;
    border-radius: 10px;
}
/* #create{
    margin: 20px;
    align-content: center;
} */